:host {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    .map-container {
        width: 600px;
        height: 300px;
    }

    & :not(:last-child) {
        margin-bottom: 20px;
    }
}